<!-- Blog Subpage -->
<section class="pt-page" data-id="blog">
  <div class="section-inner custom-page-content">
    <!-- <div class="page-header color-1">
      <h2>Blog</h2>
    </div> -->
    <div class="page-content">

      <!-- Blog Posts Grid -->
      <div class="blog-masonry two-columns">
        <!-- Blog Post 1 -->
        <div class="item">
          <div id="blog-item-1" class="blog-card">
            <div class="media-block">
              <a class="ajax-page-load" href="blog.html">
                <img class="post-image img-responsive" src="images/blog/blog_post_1.jpg" alt="blog-post-1" />
                <div class="mask"></div>
                <div class="post-date">
                  <span class="day">6</span>
                  <span class="month">Dec</span>
                  <!--<span class="year">2016</span>-->
                </div>
              </a>
            </div>
            <div class="post-info">
              <ul class="category">
                <li>
                  <a class="ajax-page-load" href="blog.html">Travel</a>
                </li>
              </ul>
              <a class="ajax-page-load" href="blog.html">
                <h4 class="blog-item-title">Bootstrap is the Most Popular Framework</h4>
              </a>
            </div>
          </div>
        </div>
        <!-- End of Blog Post 1 -->

        <!-- Blog Post 2 -->
        <div class="item">
          <div id="blog-item-2" class="blog-card">
            <div class="media-block">
              <a class="ajax-page-load" href="blog.html">
                <img class="post-image img-responsive" src="images/blog/blog_post_2.jpg" alt="blog-post-2" />
                <div class="mask"></div>
                <div class="post-date">
                  <span class="day">3</span>
                  <span class="month">Nov</span>
                  <!--<span class="year">2016</span>-->
                </div>
              </a>
            </div>
            <div class="post-info">
              <ul class="category">
                <li>
                  <a class="ajax-page-load" href="blog.html">jQuery</a>
                </li>
              </ul>
              <a class="ajax-page-load" href="blog.html">
                <h4 class="blog-item-title">One Framework, Every Device</h4>
              </a>
            </div>
          </div>
        </div>
        <!-- End of Blog Post 2 -->
      </div>
      <!-- Blog Posts Grid -->
    </div>
  </div>
</section>
<!-- /Blog Subpage -->