<!-- Header -->
<header id="site_header" class="header mobile-menu-hide">
  <div class="header-content">
    <div class="site-title-block mobile-hidden">
      <div class="site-title">Dev
        <span>Debotos</span>
      </div>
    </div>

    <!-- Navigation -->
    <div class="site-nav">
      <!-- Main menu -->
      <ul id="nav" class="site-main-menu">
        <li>
          <a class="pt-trigger" href="#home">Home</a>
          <!-- href value = data-id without # of .pt-page. -->
        </li>
        <li>
          <a class="pt-trigger" href="#resume">Resume</a>
        </li>
        <li>
          <a class="pt-trigger" href="#services">Services</a>
        </li>
        <li>
          <a class="pt-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a class="pt-trigger" href="#blog">Blog</a>
        </li>
        <li>
          <a class="pt-trigger" href="#contact">Contact</a>
        </li>
      </ul>
      <!-- /Main menu -->
    </div>
    <!-- Navigation -->
  </div>
</header>
<!-- /Header -->
